/* styles.css

/* Reset some default styles */

/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    margin-top: 20px;
}

h2 {
    color: #333;
}

p {
    font-size: 1rem;
    margin: 10px 0;
}

*/

.wrapper{
    max-height: 120px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
    width: 0;
}

.wrapper .item{
    min-width: 200px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: #ddd;
    margin-right: 2px;
}